@use "../../../App.scss" as *;

.carousel {
  position: relative;

  .picture-index {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 18px;
    color: white;
  }

  .viewport {
    display: flex;
    flex-direction: row;
    height: 415px;
    width: 100%;
    @include mobile-only {
      height: 255px;
    }

    &__item {
      height: 100%;
      width: 100%;
      &.show {
        display: block;
      }
      &.hidden {
        display: none;
      }
    }
  }

  .image-wrapper {
    position: relative;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
  }

  .image-wrapper img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .btn {
    position: absolute;
    height: 80px;
    width: 47px;
    z-index: 100;
    top: 50%;
    border: none;
    background-color: transparent;
    &--right {
      right: 24px;
    }
    &--left {
      left: 24px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
