@use "../App.scss" as *;

.section {
  margin: 0 $px-lg;
  @include mobile-only() {
    margin: 0 $px-sm;
  }
  &--accommodation-list {
    padding: 50px calc((56 / 1440) * 100vw);
    padding: 50px 56px;
    background-color: $primary-bg;

    @include mobile-only() {
      padding: 0;
    }

    .accommodations-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      gap: 3em;
      @include mobile-only() {
        grid-template-columns: none;
        row-gap: 20px;
      }

      &__item {
        aspect-ratio: 1/1;
        @include tablet-only() {
          width: 100%;
          aspect-ratio: unset;
        }
      }
    }
  }

  &--description {
    .container {
      row-gap: 20px;
      column-gap: 76px;
    }
  }

  &--accommodation-data {
    margin-top: 30px;
    margin-bottom: 1.5rem;
    .container {
      @include tablet-only() {
        flex-direction: column;
        row-gap: 16px;
      }
    }
    .title {
      color: #ff6060;
      font-size: 2.25rem;
      font-weight: 500;
    }

    .location {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        min-width: 115px;
        height: 25px;
        padding: 0 21px;
        color: white;
        background-color: $primary-color;
      }
    }
    .host-info {
      display: flex;
      flex-direction: column;
      row-gap: 21px;

      @include tablet-only() {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }

      .host {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;

        .image-wrapper {
          height: 64px;
          width: 64px;
          border-radius: 50px;
          background-color: $primary-bg;
        }

        .name {
          color: $primary-color;
          font-size: 18px;
          width: 100px;
          text-align: right;
        }
      }
    }
  }
}
