$px-lg: calc((100 / 1440) * 100vw);
$px-sm: 20px;
$primary-color: #ff6060;
$primary-bg: #f6f6f6;

@mixin mobile-only {
  @media all and (max-width: 600px) {
    @content;
  }
}

@mixin tablet-only {
  @media all and (max-width: 850px) {
    @content;
  }
}

.btn {
  cursor: pointer;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;

  @include tablet-only() {
    margin: 0;
    row-gap: 20px;
  }

  &--column {
    flex-direction: column;
    margin: 0 108px;

    @include tablet-only() {
      margin: 0;
    }
  }
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 238px;
  max-width: 1920px;
  margin: 0 auto;
}
